:root {
  --lqd-container-width: 1200px;
  --lqd-row-gutter-x: 20px;
  --lqd-row-gutter-y: 20px;
  --lqd-color-primary: #b2ff00;
  --lqd-body-text-color: rgba(229, 227, 219, 0.71);
  --lqd-color-yellow-100: #edeae1;
  --lqd-color-yellow-200: rgba(245, 240, 226, 0.72);
  --lqd-color-slate-300: #6a7a90;
  --lqd-body-font-family: "Outfit", sans-serif;
  --lqd-body-font-size: 22px;
  --lqd-body-font-weight: 500;
  --lqd-accent-font-family: "ivymode", sans-serif;
  --lqd-outfit-font-family: "Outfit", sans-serif;
  --lqd-chakra-petch-font-family: "Chakra Petch", sans-serif;
  --lqd-silkscreen-font-family: "Silkscreen", sans-serif;
  --lqd-accent-font-weight: 400;
  --lqd-heading-font-family: var(--lqd-body-font-family);
  --lqd-heading-line-height: 1.2em;
  --lqd-heading-font-weight: 600;
  --lqd-heading-color: #dddacd;
  --lqd-h1-font-size: 52px;
  --lqd-h2-font-size: 76px;
  --lqd-h2-line-height: 0.9em;
  --lqd-h2-text-transform: uppercase;
  --lqd-h3-font-size: 45px;
  --lqd-h4-font-size: 25px;
  --lqd-h5-font-size: 21px;
  --lqd-h6-font-size: 18px;
  --lqd-cc-size-inner: 32px;
  --lqd-cc-bg: rgb(255, 255, 255);
  --lqd-cc-active-bg: var(--lqd-cc-bg);
  --lqd-cc-active-bw: 1px;
  --lqd-cc-blend-mode: exclusion;
}
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #000;
  border-radius: 0;
}
::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 0;
}
::-webkit-scrollbar-thumb:hover {
  background: #8a7aff;
  border-radius: 0;
}
::-webkit-scrollbar-thumb:active {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 0;
}
.banner .module-video-2:before,
.banner .module-video:before,
.module-video-3:before {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.lqd-gdpr-accept {
  padding: 8px 23px;
  color: #000;
  font-size: 14px;
  line-height: 1em;
  background: #f5f5f5;
  border: none;
  border-radius: 50em;
  transition: background 0.3s, color 0.3s;
}
.lqd-gdpr-accept:hover {
  color: #000;
  background-color: #b2ff00;
}
@media (min-width: 1200px) {
  .is-stuck section:not(.lqd-stickybar-wrap) {
    background: rgba(255, 255, 255, 0.96) !important;
  }
}
.main-header .lqd-stickybar-left {
  padding: 100px 0 25px;
}
.btn-xs {
  --btn-pt: 2px;
  --btn-pe: 8px;
  --btn-pb: 2px;
  --btn-ps: 8px;
}
.btn-sm {
  --btn-pt: 0.6em;
  --btn-pe: 1em;
  --btn-pb: 0.6em;
  --btn-ps: 1em;
}
.btn-md {
  --btn-pt: 12px;
  --btn-pe: 20px;
  --btn-pb: 12px;
  --btn-ps: 20px;
}
.bg-before:before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: block;
  width: 100%;
  height: 100%;
  background-color: transparent;
  opacity: 1;
  mix-blend-mode: initial;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
  content: "";
}
@media screen and (min-width: 1200px) {
  .lqd-sticky-footer-shadow-1 #lqd-site-content {
    box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.1);
  }
}
.main-header .module-menu {
  min-height: 60px;
}
.main-header .btn.border-white-10:hover {
  border-color: #fff;
}
.main-header .module-menu .lqd-fancy-menu {
  backdrop-filter: blur(10px);
}
.main-header .module-menu .lqd-fancy-menu li.is-active > a,
.main-header .module-menu .lqd-fancy-menu ul > li > a:hover,
.testimonial .lqd-carousel-slides-numbers {
  color: #fff;
}
.lqd-modal .container {
  max-width: 530px;
}
.banner .container {
  max-width: 1000px;
}
.banner h1,
.uplanding h1 {
  font-size: 104px;
}
.banner .module-video:before {
  background-image: url(../../images/banner/hero-overlay.png);
}
.banner .module-video-2 {
  mix-blend-mode: difference;
}
.module-video-3 {
  mix-blend-mode: luminosity;
}
@media (min-width: 768px) {
  .banner-btn-left .btn {
    --btn-ps: 40px;
  }
  .banner-btn-right .btn {
    --btn-pe: 40px;
  }
}
.parallax-bg:before {
  background-image: linear-gradient(180deg, #000 0, rgba(0, 0, 0, 0) 58%);
}
.features .container {
  max-width: 1280px;
}
.how-it-works .container {
  max-width: 1260px;
}
.carousel-button .btn {
  box-shadow: 0 3px 6px 0 rgba(205, 5, 5, 0.09) inset;
}
.float-text .container {
  max-width: 970px;
}
@media (max-width: 1199px) {
  .carousel-button .carousel-items {
    margin-inline-start: -20px;
    margin-inline-end: -20px;
  }
  .carousel-button .carousel-item {
    padding-inline-start: 20px;
    padding-inline-end: 20px;
  }
  .float-text {
    padding: 240px 0;
  }
}
.testimonial {
  background-position: 50% 15%;
}
.testimonial .carousel-dots {
  top: -200px;
  right: -140px;
  bottom: -25px;
  left: auto;
}
.testimonial .lqd-carousel-slides {
  align-items: center;
  justify-content: center;
}
@media (max-width: 1199px) {
  .gallery .module-masonry-1 {
    height: 34vw;
  }
  .gallery .module-masonry-2 {
    height: 38vw;
  }
  .gallery .module-timer {
    margin-bottom: 80px;
    padding-top: 10px;
  }
}
.countdown-row {
  justify-content: center;
}
.one-roadmap-item-checked .one-roadmap-bar,
.one-roadmap-item-checked .one-roadmap-info {
  opacity: 0.4;
}
.one-roadmap-item .one-roadmap-bar:before,
.one-roadmap-item:not(:last-child) .one-roadmap-bar:after {
  position: absolute;
  top: 3px;
  display: inline-block;
  background: #b2ff00;
  transition: transform 0.45s cubic-bezier(0.23, 1, 0.32, 1);
  content: "";
}
.one-roadmap-bar:before {
  width: 100%;
  height: 15px;
  border-radius: 50em;
}
.one-roadmap-bar:after {
  bottom: -3px;
  left: 6px;
  width: 2px;
  transform-origin: top center;
}
.one-roadmap-item-checked .one-roadmap-mark {
  opacity: 1;
}
@media (max-width: 767px) {
  .gallery {
    padding: 80px 0;
  }
  .gallery .el-title {
    margin-bottom: 1em;
  }
  .gallery .module-timer {
    margin-bottom: 60px;
    padding-top: 0;
  }
  .gallery .module-timer .countdown {
    font-size: 60px;
  }
  .module-roadmap {
    padding: 25px 15px 25px 20px;
  }
}
.newsletter .container {
  max-width: 730px;
}
@media (min-width: 992px) {
  .newsletter {
    background-attachment: fixed;
  }
}
@media (max-width: 767px) {
  :root {
    --lqd-h2-font-size: 16vw;
  }
  .banner h1,
  .uplanding h1 {
    padding-bottom: 20px;
    font-size: 16vw;
  }
  .banner .btn,
  .banner .btn-icon-left,
  .uplanding .btn,
  .uplanding .btn-icon-left {
    padding: 12px 20px;
  }
  .parallax-bg {
    min-height: 200px;
  }
  .how-it-works .module-top {
    margin-bottom: 80px;
  }
  .how-it-works .lqd-text-reveal-el {
    font-size: 24px;
    line-height: 1.3em;
  }
  .float-text {
    padding: 120px 20px;
  }
  .float-text .lqd-text-reveal-el {
    font-size: 32px;
  }
  .float-text .lqd-text-reveal-el-2 {
    font-size: 22px;
  }
  .testimonial .module-svg .carousel-items {
    margin-inline-start: -120px;
    margin-inline-end: -120px;
  }
  .newsletter {
    padding: 60px 10px;
  }
  .how-it-works .ld-fancy-heading h2 {
    font-size: 46px;
  }
}
@media (max-width: 1199px) {
  .testimonial {
    background-position: top center;
  }
  .testimonial .carousel-dots-mobile {
    display: block;
  }
  .testimonial .carousel-dots-mobile .flickity-page-dots .dot.is-selected {
    background-color: #fff;
  }
  .testimonial .carousel-dots-mobile .flickity-page-dots .dot {
    background-color: rgba(255, 255, 255, 0.45);
  }
  .testimonial .module-svg {
    margin-top: 100px;
  }
  .faq {
    padding-right: 40px;
    padding-left: 40px;
  }
  .main-footer .module-logo {
    margin-bottom: 30px;
  }
  .main-footer .module-social {
    margin-top: 20px;
  }
}
@media (max-width: 991px) {
  .download .module-col {
    padding-right: 15px;
    padding-left: 15px;
  }
  .download .ld-fancy-heading h2 {
    margin-bottom: 0.5em;
  }
  .download .btn-lg {
    padding: 1.15em 2.5em;
  }
}
